{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "custom.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static './assets/img/icon.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <a href="{% url 'todo:home' %}" id="all-tasks">All tasks</a>
        <a href="{% url 'todo:done_tasks' %}" id="pending-tasks">Done tasks</a>
        <a href="{% url 'todo:pending_tasks' %}" id="done-tasks">Pending tasks</a>
    </header>
    {% block body %}{% endblock body %}
</body>
</html>