body {
    background-image: url(./assets/img/background.jpg);
    margin: 0;
}

#tasks-container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

ul, li {
    list-style: none;
}

.task {
    font-family: 'Reenie Beanie';
    font-size: 1em;
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transition: 0.3s;
}

ul li {
    margin: 1em;
}

ul li:nth-child(even) a {
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
}
  
ul li:nth-child(3n) a {
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
}
  
ul li:nth-child(5n) a {  
    transform:rotate(5deg);
    position:relative;
    top:-10px;
}

.task:hover {
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);  
    position:relative;
}

.task-adder {
    opacity: 0.5;
}

.detail-container {
    display: flex;
    justify-content: center;
}

.detail {
    background-color: rgb(177, 30, 30);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    text-align: center;
}

/* Header */

header {
    z-index: 10;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #f2b289;
    justify-content: center;
    align-items: center;
    font-family: "kalam";
    font-weight: bold;
    text-align: center;
}

header a {
    text-decoration: none;
    width: 20vw;
    height: 5vh;
    color: black;
    transition: 0.3s;
}

header a:hover {
    filter: brightness(1.1);
}

#all-tasks {
    background-color: #D1E9F6;
}

#pending-tasks {
    background-color: #CBE2B5;
}

#done-tasks {
    background-color: #FF8A8A;
}

/* Task Detail */

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.post-it {
    font-family: "kalam";
    background:#ffc;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    height: 50vh;
    width: 50vw;
    padding: 3em;
}

.return-button:hover {
    animation: moveUp 1s;
}

@keyframes moveUp {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

/* Forms and input */

#id_title {
    background-color: #ffc;
    border: 0px;
    border-bottom: 3px dashed gray;
    width: 80%;
    height: 30px;
    font-size: 24px;
    font-family: "kalam";
    font-weight: bold;
}

#id_deadline {
    background-color: #ffc;
    border: 0px;
    border-bottom: 3px dashed gray;
}

#id_description {
    background-color: #ffc;
    border: 1px dashed gray;
    font-family: "kalam";
    height: 20vh;
    width: 100%;
}

.deadline-label {
    margin: 0px;
}