{% extends "base.html" %}

{% block title %}PostIt | Panel{% endblock title %}

{% block body %}
    <ul id="tasks-container">
        {% for task in tasks %}
        <li>
            <a class="task" href="{% url 'todo:task_detail' task.slug %}">
                <div class="detail-container">
                    <div class="detail"></div>
                </div>
                <div {% if task.done %}style="text-decoration: line-through;"{% endif%}>
                {% if task.title|length < 30 %}
                    <h1 >{{ task.title }}</h1>
                {% elif task.title|length < 50 %}
                    <h2>{{ task.title }}</h2>
                {% else %}
                    <h3>{{ task.title }}</h3>
                {% endif %}
                </div>
            </a>
        </li>
        {% endfor %}
        <li>
            <a class="task task-adder" href="{% url 'todo:add_task' %}">
                <div class="detail-container">
                    <div class="detail"></div>
                </div>
            </a>
        </li>
    </ul><br>
{% endblock body %}

